:root {
  /* colors*/
  --dark-orange: #d87d4a;
  --dark: #101010;
  --dark-grey: #f1f1f1;
  --light-grey: #fafafa;
  --light-orange: #fbaf85;
  --black: #000000;
  --white: #ffffff;

  /* font-family */
  --primary-font: "Manrope", sans-serif;

  /* font detail */
  --h1-size: 56px;
  --h1-line-height: 58px;
  --h1-letter-space: 2px;

  --h2-size: 40px;
  --h2-line-height: 44px;
  --h2-letter-space: 1.5px;

  --h3-size: 32px;
  --h3-line-height: 36px;
  --h3-letter-space: 1.15px;

  --h4-size: 28px;
  --h4-line-height: 38px;
  --h4-letter-space: 2px;

  --h5-size: 24px;
  --h5-line-height: 33px;
  --h5-letter-space: 1.7px;

  --h6-size: 18px;
  --h6-line-height: 19px;
  --h6-letter-space: 1.3px;

  --overline-size: 14px;
  --overline-line-height: 19px;
  --overline-letter-space: 10px;
  --overline-color: var(--light-orange);

  --subtitle-size: 13px;
  --subtitle-line-height: 25px;
  --subtitle-letter-space: 1px;
  --subtitle-color: var(--dark-orage);

  --body-size: 18px;
  --body-line-height: 19px;
  --body-letter-space: 1.3px;

  /*font weights */
  --bold: 700;
  --regular: 400;
  --medium: 500;
}

.nav-links a {
  text-decoration: none;
  color: var(--white);
}

body {
  font-family: var(--primary-font);
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  font-weight: var(--medium);
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: var(--bold);
}
h1 {
  font-size: var(--h1-size);

  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-space);
}

h2 {
  font-size: var(--h2-size);

  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-space);
}

h3 {
  font-size: var(--h3-size);

  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-space);
}

h4 {
  font-size: var(--h4-size);

  line-height: var(--h4-line-height);
  letter-spacing: var(--h4-letter-space);
}

h5 {
  font-size: var(--h5-size);

  line-height: var(--h5-line-height);
  letter-spacing: var(--h5-letter-space);
}
h6 {
  font-size: var(--h6-size);

  line-height: var(--h6-line-height);
  letter-spacing: var(--h6-letter-space);
}
.overline {
  font-size: var(--overline-size);
  line-height: var(--overline-line-height);
  letter-spacing: var(--overline-letter-space);
  font-weight: var(--regular);
  color: var(--dark-orange);
}
.subtitle {
  font-weight: var(--bold);
}
.btn.button1 {
  color: var(--white);
  background-color: var(--dark-orange);
}
.best {
  font-size: var(--h1-size);
  letter-spacing: var(--h1-letter-space);
  color: var(--dark-orange);
}
.btn.button1:hover {
  color: var(--white);
  background-color: var(--light-orange);
}
.btn.button2 {
  color: var(--black);
  background-color: rgba(255, 255, 255, 0.378);
}
.btn.button2:hover {
  color: var(--white);
  background-color: var(--black);
}
.btn.button3 {
  color: grey;
  background-color: var(--dark-grey);
}
.btn.button3:hover {
  color: var(--light-orange);
  background-color: var(--dark-grey);
}
.button-icon {
  color: var(--dark-orange) !important;
}
.form-control:focus {
  border-color: var(--dark-orange);
}
.form-control.isInValid {
  border: red;
}
.category-card-description > a {
  text-decoration: none;
}
a:hover,
i:hover {
  color: var(--dark-orange);
}

/* Navbar */
.nav-bar {
  background-color: var(--black);
}

/* Home page  */

/* Hero section */
.hero-section {
  background-image: url(./assets/home/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/* Catergory Section */
.category-img {
  width: 15rem;
}
.category-row .card {
  background-color: var(--dark-grey);
}

/* ZX9 speaker section */
.zx9-section {
  background-color: var(--dark-orange);
  background-image: url(./assets/home/desktop/pattern-circles.svg);
  min-height: 320px;
}
.zx9-section > div {
  flex: 1;
}
.zx9-section p {
  max-width: 350px;
}
/* ZX7 speaker section */
.zx7-section {
  background-image: url(./assets/home/mobile/image-speaker-zx7.jpg);
  min-height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* YX1 section */
.yx1-section > div {
  flex: 1;
  background-size: cover;
  min-height: 212px;
}
.yx1-left {
  background-image: url(./assets/home/mobile/image-earphones-yx1.jpg);
  background-repeat: no-repeat;
}
.yx1-right {
  background-color: var(--dark-grey);
}

/* Footer */
.footer {
  background-color: var(--dark);
}

.footer-text {
  max-width: 420px;
}

/* Description Section */

.description-section > div {
  flex: 1 !important;
  width: 100%;
}
.guy-pic {
  overflow: hidden;
}

/* Categories */
.title-section {
  background-color: var(--black);
}

.product-description > div {
  flex: 1;
}
/* Details page */
.details-section > div {
  flex: 1;
}
.increase-btns {
  background-color: var(--dark-grey);
  height: 100%;
}

/* Tablet */
@media (min-width: 768px) {
  .hero-section {
    background-image: url(./assets/home/tablet/image-header.jpg);
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .hero-section {
    background-image: url(./assets/home/desktop/image-hero.jpg);
  }
  .zx7-section {
    background-image: url(./assets/home/desktop/image-speaker-zx7.jpg);
    min-height: 320px;
  }
  .zx7-section > div {
    margin-left: 7rem;
  }
  .yx1-left {
    background-image: url(./assets/home/desktop/image-earphones-yx1.jpg);
    min-height: 212px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .yx1-section > div {
    background-size: cover;
    min-height: 320px;
  }
  .description-text {
    max-width: 450px;
  }
}
